/.quarto/


# Keep chapter task solutions local only
chapter_causality/tasks/causality_solution.qmd
chapter_causality/tasks/causality_solution.html
chapter_mlr/tasks/mlr_solution.qmd
chapter_mlr/tasks/mlr_solution.html
chapter_sampling/tasks/sampling_solution.qmd
#chapter_slr/tasks/slr_solution.qmd
#chapter_slr/tasks/slr_solution.html
chapter_slr/tasks/slr_solution_old.qmd
chapter_slr/tasks/slr_tasks_old.qmd
#chapter_tidy/tasks/tidy_solution.qmd
#chapter_tidy/tasks/tidy_solution.html

**/*.quarto_ipynb
